@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  font-family: Playfair Display;
font-size: 30px;
font-weight: 400;
line-height: 37.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#price {
  font-family: Geist;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#smallPriceTag{
  font-family: Geist;
font-size: 14px;
font-weight: 400;
line-height: 17.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

